*{
    padding: 0;
    margin: 0 auto;
    font-family: 微软雅黑;
}

.main{
    width: 955px;
    height: 400px;
    margin-top: 25px;
}

.main h4{
    background-color: #eeeeee;
    line-height: 40px;

}
.main h4 span{
    height:40px;
    display: inline-block;
    font-size: 15px;
    padding: 0 15px;
    color: #7b7b7b;
}
.jump{
    border: 2px solid #eeeeee;
    height: 300px;
}
.tishi img{
    position: relative;
    left: 400px;
    top: 50px;
}

.info{
    text-align: center;
    position: relative;
    top: 55px;
    line-height: 25px;
    color: grey;
}