*{
    padding: 0;
    margin: 0 auto;
    font-family: 微软雅黑;
}

.main{
    width: 955px;
    height: 400px;
    margin-top: 25px;
}

.main h4{
    background-color: #eeeeee;
    line-height: 35px;

}
.main h4 span{
    height:35px;
    display: inline-block;
    font-size: 17px;
    padding: 0 15px;
    color: #7b7b7b;
}
.jump{
    border: 2px solid #eeeeee;
    height: auto;
}
.tishi{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}

.info{
    position: relative;
    line-height: 35px;
    color: grey;
    margin: 50px 50px;
}